In [1]:
# Importar pacotes necessários
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import preprocessing
pd.options.display.max_columns = None
#pd.options.display.max_rows = None
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score, roc_curve
import pandas_profiling
import warnings
warnings.filterwarnings(action="ignore")

C:\Users\cecyo\AppData\Local\Temp\ipykernel_41728\49147841.py:20: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [2]:
# Carregar o conjunto de dados históricos dos clientes
#df = pd.read_csv('dataset_all.csv').sample(100000, random_state=44)
df = pd.read_csv('dataset_all.csv')

In [3]:
df.head()

,ID de consentimento,pagamentos em prestações pagos - emprestimo,saldo pendente do contrato - emprestimo,Prestações devidas - emprestimo,Prestações pagas - emprestimo,data de vencimento - emprestimo,pagamentos em prestações pagos - financiamento,saldo pendente do contrato - financiamento,Prestações devidas - financiamento,Prestações pagas - financiamento,Número total de prestações - financiamento,data de vencimento - financiamento,número restante do contrato - financiamento,Valor do contrato - financiamento,quantia - credito,é Prestação - credito,data de vencimento - credito,valor mínimo da fatura - credito,valor total da fatura - credito,data de pagamento - credito,Valor do pagamento - credito,Valor limite - credito,transações de valor - credito,é flexível no limite,Quantidade usada - credito,tipo pessoa,ID da conta,valor bloqueado,quantidade disponível,cheque especial Limite contratado,limite de cheque especial usado,Valor de cheque especial não combinado,quantia - conta
0,a111bb0eba868bb5ad10cd5d2542cd6c0d4207df0f4a7b...,0,3155.829505,0,0,2023-06-19,0,121672.150969,413,0,413,2057-05-28,413,127307.648462,0.0,False,2021-08-20,175.821212,1164.467095,2021-07-21,0.009514,1427.043009,0.0,False,0.0,PF,3866f7ee798c9cacb4caef42130945577da2c9d0adfe65...,0.0,-4113.698827,0.000000,0.0,0.0,18.998699
1,a111bb0eba868bb5ad10cd5d2542cd6c0d4207df0f4a7b...,0,3155.829505,0,0,2023-06-19,0,121672.150969,413,0,413,2057-05-28,413,127307.648462,0.0,False,2021-08-20,175.821212,1164.467095,2021-07-21,0.009514,1427.043009,0.0,False,0.0,PF,3866f7ee798c9cacb4caef42130945577da2c9d0adfe65...,0.0,-4113.698827,0.000000,0.0,0.0,232.493847
2,a111bb0eba868bb5ad10cd5d2542cd6c0d4207df0f4a7b...,0,3155.829505,0,0,2023-06-19,0,121672.150969,413,0,413,2057-05-28,413,127307.648462,0.0,False,2021-08-20,175.821212,1164.467095,2021-07-21,0.009514,1427.043009,0.0,False,0.0,PF,fdb6d17c473fc2482568e7fe41f612472c5eb02924a91c...,0.0,0.000000,0.000000,0.0,0.0,NaN
3,a111bb0eba868bb5ad10cd5d2542cd6c0d4207df0f4a7b...,0,3155.829505,0,0,2023-06-19,0,121672.150969,413,0,413,2057-05-28,413,127307.648462,0.0,False,2021-08-20,175.821212,1164.467095,2021-07-21,0.009514,1427.043009,0.0,False,0.0,PF,78bf8ee76b7c63badcdcffa000ef120fdc02ed22a421b4...,0.0,-74.054019,665.953404,0.0,0.0,35.761698
4,a111bb0eba868bb5ad10cd5d2542cd6c0d4207df0f4a7b...,0,3155.829505,0,0,2023-06-19,0,121672.150969,413,0,413,2057-05-28,413,127307.648462,0.0,False,2021-08-20,175.821212,1164.467095,2021-07-21,0.009514,1427.043009,0.0,False,0.0,PF,3866f7ee798c9cacb4caef42130945577da2c9d0adfe65...,0.0,-4113.698827,0.000000,0.0,0.0,18.998699

In [4]:
df.dtypes

ID de consentimento                                object
pagamentos em prestações pagos - emprestimo         int64
saldo pendente do contrato - emprestimo           float64
Prestações devidas - emprestimo                     int64
Prestações pagas - emprestimo                       int64
data de vencimento - emprestimo                    object
pagamentos em prestações pagos - financiamento      int64
saldo pendente do contrato - financiamento        float64
Prestações devidas - financiamento                  int64
Prestações pagas - financiamento                    int64
Número total de prestações - financiamento          int64
data de vencimento - financiamento                 object
número restante do contrato - financiamento         int64
Valor do contrato - financiamento                 float64
quantia - credito                                 float64
é Prestação - credito                                bool
data de vencimento - credito                       object
valor mínimo da fatura - credito                  float64
valor total da fatura - credito                   float64
data de pagamento - credito                        object
Valor do pagamento - credito                      float64
Valor limite - credito                            float64
transações de valor - credito                     float64
é flexível no limite                                 bool
Quantidade usada - credito                        float64
tipo pessoa                                        object
ID da conta                                        object
valor bloqueado                                   float64
quantidade disponível                             float64
cheque especial Limite contratado                 float64
limite de cheque especial usado                   float64
Valor de cheque especial não combinado            float64
quantia - conta                                   float64
dtype: object

In [5]:
df.shape

(200000, 33)

In [6]:
#missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                                                Total  Percent
transações de valor - credito                   43444  0.21722
quantia - conta                                 13258  0.06629
Valor do pagamento - credito                     1400  0.00700
data de pagamento - credito                      1400  0.00700
valor mínimo da fatura - credito                    0  0.00000
Valor de cheque especial não combinado              0  0.00000
limite de cheque especial usado                     0  0.00000
cheque especial Limite contratado                   0  0.00000
quantidade disponível                               0  0.00000
valor bloqueado                                     0  0.00000
ID da conta                                         0  0.00000
tipo pessoa                                         0  0.00000
Quantidade usada - credito                          0  0.00000
é flexível no limite                                0  0.00000
Valor limite - credito                              0  0.00000
valor total da fatura - credito                     0  0.00000
ID de consentimento                                 0  0.00000
pagamentos em prestações pagos - emprestimo         0  0.00000
é Prestação - credito                               0  0.00000
quantia - credito                                   0  0.00000
Valor do contrato - financiamento                   0  0.00000
número restante do contrato - financiamento         0  0.00000
data de vencimento - financiamento                  0  0.00000
Número total de prestações - financiamento          0  0.00000
Prestações pagas - financiamento                    0  0.00000
Prestações devidas - financiamento                  0  0.00000
saldo pendente do contrato - financiamento          0  0.00000
pagamentos em prestações pagos - financiamento      0  0.00000
data de vencimento - emprestimo                     0  0.00000
Prestações pagas - emprestimo                       0  0.00000
Prestações devidas - emprestimo                     0  0.00000
saldo pendente do contrato - emprestimo             0  0.00000
data de vencimento - credito                        0  0.00000

In [7]:
df.drop(['ID da conta','tipo pessoa','é flexível no limite','data de vencimento - credito','é Prestação - credito','data de vencimento - financiamento','data de vencimento - emprestimo' ,'ID de consentimento','transações de valor - credito' ,'quantia - conta','Valor do pagamento - credito','data de pagamento - credito'], inplace=True, axis=1)

In [8]:
df

,pagamentos em prestações pagos - emprestimo,saldo pendente do contrato - emprestimo,Prestações devidas - emprestimo,Prestações pagas - emprestimo,pagamentos em prestações pagos - financiamento,saldo pendente do contrato - financiamento,Prestações devidas - financiamento,Prestações pagas - financiamento,Número total de prestações - financiamento,número restante do contrato - financiamento,Valor do contrato - financiamento,quantia - credito,valor mínimo da fatura - credito,valor total da fatura - credito,Valor limite - credito,Quantidade usada - credito,valor bloqueado,quantidade disponível,cheque especial Limite contratado,limite de cheque especial usado,Valor de cheque especial não combinado
0,0,3155.829505,0,0,0,121672.150969,413,0,413,413,127307.648462,0.0,175.821212,1164.467095,1427.043009,0.000000,0.0,-4113.698827,0.000000,0.0,0.0
1,0,3155.829505,0,0,0,121672.150969,413,0,413,413,127307.648462,0.0,175.821212,1164.467095,1427.043009,0.000000,0.0,-4113.698827,0.000000,0.0,0.0
2,0,3155.829505,0,0,0,121672.150969,413,0,413,413,127307.648462,0.0,175.821212,1164.467095,1427.043009,0.000000,0.0,0.000000,0.000000,0.0,0.0
3,0,3155.829505,0,0,0,121672.150969,413,0,413,413,127307.648462,0.0,175.821212,1164.467095,1427.043009,0.000000,0.0,-74.054019,665.953404,0.0,0.0
4,0,3155.829505,0,0,0,121672.150969,413,0,413,413,127307.648462,0.0,175.821212,1164.467095,1427.043009,0.000000,0.0,-4113.698827,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0,0.000000,0,0,59,0.000000,0,59,60,0,61873.968622,0.0,904.326668,1828.517775,35817.828162,35817.828162,0.0,7.801168,0.000000,0.0,0.0
199996,0,0.000000,0,0,59,0.000000,0,59,60,0,61873.968622,0.0,904.326668,1828.517775,35817.828162,35817.828162,0.0,7.801168,0.000000,0.0,0.0
199997,0,0.000000,0,0,59,0.000000,0,59,60,0,61873.968622,0.0,904.326668,1828.517775,35817.828162,35817.828162,0.0,7.801168,0.000000,0.0,0.0
199998,0,0.000000,0,0,59,0.000000,0,59,60,0,61873.968622,0.0,904.326668,1828.517775,35817.828162,35817.828162,0.0,7.801168,0.000000,0.0,0.0
199999,0,0.000000,0,0,59,0.000000,0,59,60,0,61873.968622,0.0,904.326668,1828.517775,35817.828162,35817.828162,0.0,7.801168,0.000000,0.0,0.0

In [9]:
#verifica se é inadimplente
df['divida_total'] = df[['valor total da fatura - credito', 'saldo pendente do contrato - financiamento', 'saldo pendente do contrato - emprestimo']].sum(axis=1)
df['divida_atrasada'] = df[['Prestações devidas - emprestimo', 'Prestações devidas - financiamento']].sum(axis=1)
df['utilizacao_limite_cartao'] = df['Valor limite - credito'] / df['cheque especial Limite contratado']

df['utilizacao_limite_cartao'].replace([np.inf, -np.inf], -1, inplace=True)
df['utilizacao_limite_cartao'].replace([np.NaN], 0, inplace=True)

df['limite_negativo'] = 0

def verifica_limite(x):
    if x >= 0:
        return  0
    else:
        return  1

def verifica_inadimp(x,y):   
    if (x > 0) and (y == 1):
        return 1
    else:
       return 0

In [10]:
#analise_2 = df[['Valor limite - credito','cheque especial Limite contratado']]

In [11]:
#analise_3 = df[df['Valor limite - credito'] <= 0]

In [12]:
df['limite_negativo'] = df['utilizacao_limite_cartao'].apply(verifica_limite)

In [13]:
df['eh_inadimplente'] = np.vectorize(verifica_inadimp)(df['divida_atrasada'], df['limite_negativo'])

In [14]:
df['limite_negativo'].value_counts()

1    188808
0     11192
Name: limite_negativo, dtype: int64

In [15]:
df['eh_inadimplente'].value_counts()

0    170624
1     29376
Name: eh_inadimplente, dtype: int64

In [16]:
'''
from imblearn.over_sampling import SMOTE
import numpy as np

SEED=42

smote = SMOTE(random_state=42)
'''

'\nfrom imblearn.over_sampling import SMOTE\nimport numpy as np\n\nSEED=42\n\nsmote = SMOTE(random_state=42)\n'

In [17]:
count_majority_class, count_minority_class = df.eh_inadimplente.value_counts()

In [18]:
count_majority_class

170624

In [19]:
df_majority_class = df[df['eh_inadimplente'] == 0]
df_minority_class = df[df['eh_inadimplente'] == 1]

In [20]:
df_class_undersample = df_majority_class.sample(count_minority_class)

In [21]:
df_balanced = pd.concat([df_class_undersample, df_minority_class], axis=0)

In [22]:
print('Number of data samples after under-sampling:')
print(df_balanced.eh_inadimplente.value_counts())

Number of data samples after under-sampling:
0    29376
1    29376
Name: eh_inadimplente, dtype: int64

In [23]:
#smote_technique = SMOTE(sampling_strategy='minority')

In [24]:
X = df_balanced.drop("eh_inadimplente", axis=1)
Y = df_balanced["eh_inadimplente"]

In [25]:
#x_resampled, y_resampled = smote_technique.fit_resample(X, Y)

In [26]:
#df_balanced = pd.concat([y_resampled, x_resampled], axis=1)
#df_balanced

In [27]:
df_balanced["eh_inadimplente"].value_counts()

0    29376
1    29376
Name: eh_inadimplente, dtype: int64

In [28]:
#x = df_balanced.iloc[:, 1:].values
#y = df_balanced.iloc[:, 0].values

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

In [30]:

from sklearn.preprocessing import StandardScaler

# Padronizar as variáveis numéricas
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
# Treinar o modelo de regressão logística
modelo = LogisticRegression()
#modelo = RandomForestClassifier(max_depth= 5, random_state = 42) 
modelo.fit(X_train, y_train)

LogisticRegression()

In [32]:
y_test

3574      1
19594     1
16536     1
19658     1
63145     0
         ..
187638    0
7849      1
79929     0
193197    0
19176     1
Name: eh_inadimplente, Length: 11751, dtype: int32

In [33]:
acuracia = modelo.score(X_test, y_test)
print('Acurácia:', acuracia)

Acurácia: 1.0

In [34]:
# Gerar o score para cada cliente
#score = modelo.predict_proba(X_test)[:, 1].round()
score = modelo.predict_proba(X_test)[:, 1]

In [35]:
#from sklearn import metrics
'''
print("Acurácia:",metrics.accuracy_score(y_test, score))
print("Precisão:",metrics.precision_score(y_test, score))
print("Recall:",metrics.recall_score(y_test, score)) 
print("F1:",metrics.f1_score(y_test, score))
'''

'\nprint("Acurácia:",metrics.accuracy_score(y_test, score))\nprint("Precisão:",metrics.precision_score(y_test, score))\nprint("Recall:",metrics.recall_score(y_test, score)) \nprint("F1:",metrics.f1_score(y_test, score))\n'

In [36]:
score

array([9.99933188e-01, 9.99963380e-01, 9.99988335e-01, ...,
       7.31269919e-06, 3.19291179e-05, 9.99988122e-01])

In [37]:
# Fornecer produtos financeiros com base no score gerado e nas variáveis adicionais
produto_oferecido = np.where((score >= 0.8),  'Empréstimo Pessoal', \
                                    np.where((score >= 0.5) , 'Cartão de Crédito', \
                                    np.where((score >= 0.2) , 'Conta Corrente', 'Sem Oferta')))

In [38]:
produto_oferecido.shape

(11751,)

In [39]:
produto_oferecido

array(['Empréstimo Pessoal', 'Empréstimo Pessoal', 'Empréstimo Pessoal',
       ..., 'Sem Oferta', 'Sem Oferta', 'Empréstimo Pessoal'],
      dtype='<U18')

In [40]:
df_teste = pd.DataFrame(produto_oferecido, columns = ['produto_oferecido'])

In [41]:
df_teste

        produto_oferecido
0      Empréstimo Pessoal
1      Empréstimo Pessoal
2      Empréstimo Pessoal
3      Empréstimo Pessoal
4              Sem Oferta
...                   ...
11746          Sem Oferta
11747  Empréstimo Pessoal
11748          Sem Oferta
11749          Sem Oferta
11750  Empréstimo Pessoal

[11751 rows x 1 columns]

In [42]:
#produtos ofertados
df_teste['produto_oferecido'].value_counts()

Empréstimo Pessoal    5923
Sem Oferta            5828
Name: produto_oferecido, dtype: int64